[alias]
  cb = rev-parse --abbrev-ref HEAD # copy current branch name
  diffw = diff --color-words=. # color words
  dmb = !sh -c 'git branch --merged | egrep -v \"(^\\*|main|master|dev)\" | xargs git branch -d' - # delete merged branches
  rpo = remote prune origin # clean deleted branches on remote

[branch]
  autoSetupRebase = always
  sort = -authordate

[core]
  excludesfile = ~/.gitignore_global
  pager = delta

[credential]
  helper = osxkeychain

[delta]
  navigate = true
  syntax-theme = ansi

[delta "interactive"]
  keep-plus-minus-markers = true

[diff]
  colorMoved = default
  colorWords = true

[grep]
  lineNumber = true

[include]
  path = ~/.themes.gitconfig

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only --features=interactive

[pull]
  rebase = true

[rerere]
  enabled = true

[user]
  email = 861147+wulymammoth@users.noreply.github.com
  name = wulymammoth

[includeIf "gitdir:~/Desktop/work/"]
  path = ~/work/.gitconfig
