alias cat='bat'
alias claude="~/.claude/local/claude"
alias desk='cd ~/Desktop'
alias dig='dog'
alias dotfiles='cd ~/dotfiles'
alias hist='history | tail -n 9'
alias ping='gping'
alias rm='trash'
alias til='cd ~/Desktop/til'
alias top='glances'
alias vim='nvim' 
