## ----- bash-specific -----

export BASH_SILENCE_DEPRECATION_WARNING=1 # stop asking to default to zsh
export CLICOLOR=1

# erasedups all previous  lines  matching  the  current remove before save
# do not record commands that begin with pressing up/down or space
export HISTCONTROL=ignoreboth:erasedups
export HISTFILESIZE=9999
export HISTIGNORE='&:ls:[bf]g:exit:pwd:clear:mount:umount' # :[ \t]* # space prefix ignores comment
export HISTSIZE= # unlimited
export HISTTIMEFORMAT='%F '

## ----- bat (colorizing manual) -----

export BAT_THEME="ansi-dark"
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

## ----- homebrew -----

BREW_PREFIX='/opt/homebrew'
BREW_BINS='/opt/homebrew/bin:/usr/local/bin'
BREW_SBINS='/opt/homebrew/sbin:/usr/local/sbin'
BREW_PATHS="${BREW_SBINS}:${BREW_BINS}"

## ----- neovim -----

export EDITOR=nvim

## ------ fzf ------

export FZF_DEFAULT_COMMAND='fd --type f'
export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS'
  --border
  --color fg:#D8DEE9,hl:#89b8c2,fg+:#D8DEE9,hl+:#e27878
  --color pointer:#BF616A,info:#4C566A,spinner:#4C566A,header:#4C566A,prompt:#81A1C1,marker:#EBCB8B'

## ----- ripgrep -----

export RIPGREP_CONFIG_PATH=$HOME/.ripgreprc

## ----- XDG -----
export XDG_CONFIG_HOME=$HOME/.config

## ------ languages/platforms ------

# asdf
ASDF_SHIMS=$HOME/.asdf/shims
# rust
CARGO_BINS=$HOME/.cargo/bin
# deno
DENO_BINS=$(/opt/homebrew/opt/asdf/libexec/bin/asdf where deno)/.deno/bin
# llvm
LLVM_PATH=/usr/local/opt/llvm/bin
# python binaries - installed via `$ python3 -m pip install --user <package>`
PYTHON_BINS=$HOME/.local/bin

## ----- PATH VAR -----
export PATH="$ASDF_SHIMS:$CARGO_BINS:$DENO_BINS:$GOPATH/bin:$LLVM_PATH:$PYTHON_BINS:$BREW_PATHS:$PATH"
