# set window title
function set_win_title() {
    echo -ne "\033]0; $(basename "$PWD") \007"
}
starship_precmd_user_func="set_win_title"

# make new directory and change into it
mkd() {
  mkdir -p "$@"
  cd "$@" || exit
}
